.bottom-video-container {
    width: 100%;
    height: 80px;
    border-top: 1px solid #bfbfbf;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ion-color-light);
}

.close-button {
    float: right;
}

.live-indicator {
    width: 100%;
}

.time-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.player-image {
    width: 120px;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.center-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-toolbar {
    --border-width: 0 !important;
}